.education-wrapper {
  color: black;
  margin-bottom: 10vh;
}
.education-wrapper h5 {
  background-color: var(--background-blue-color);
  color: var(--background-white-color);
  margin-bottom: 2vh;
  padding: 1vh;
  border-radius: 5px;
}
.education-wrapper form {
  background-color: white;
  padding: 2vh;
  padding-top: 3vh;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05), 
              2px 2px 2px rgba(0,0,0,0.05),
              4px 4px 4px rgba(0,0,0,0.05),
              -1px -1px 1px rgba(0,0,0,0.05), 
              -2px -2px 2px rgba(0,0,0,0.05),
              -4px -4px 4px rgba(0,0,0,0.05);
}
.education-wrapper input[type='text'] {
  margin-top: 5px;
  background-color: var(--input-field-color);
}
.education-wrapper input[type='text']:focus {   
  background-color: var(--input-field-color);
  border-color: var(--input-field-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset, 0 0 2px var(--unique-blue-color);
  outline: 0 none;
}
.education-wrapper a.nav-link {
  color: var(--theme-orange-color);
  margin-top: 2vh;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
.education-wrapper a.nav-link:hover,
.education-wrapper a.nav-link:active,
.education-wrapper a.nav-link:focus {
  color: var(--theme-orange-color);
  border-radius: 3px;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}