.fixednavbar-wrapper {
  background-color: var(--background-blue-color);
  color: ghostwhite;
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.staff-details {
  background-color: var(--light-hover-blue);
  margin: 3vh 1.5vh 7.5vh 1.5vh;
  padding: 1.5vh 0 .3vh 1.5vh;
  border-radius: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.02), 
              2px 2px 2px rgba(0,0,0,0.02),
              4px 4px 4px rgba(0,0,0,0.02);
}
.staff-details p:nth-child(1) {
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: -0.2vh;
}
.fixednavbar-wrapper nav {
  margin-top: 15vh;
}
.fixednavbar-wrapper i {
  color: var(--background-white-color);
}
a.nav-link {
  color: var(--background-white-color);
  padding: 2vh auto;
  margin-top: 2vh;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}
a.nav-link:hover,
a.nav-link:active,
a.nav-link:focus {
  color: var(--background-white-color);
  background-color: var(--light-hover-blue);
  border-radius: 3px;
  transition: all 0.15s ease-out;
  -webkit-transition: all 0.15s ease-out;
}