@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --background-blue-color: #255aa0;
  --background-white-color: ghostwhite;
  --light-hover-blue: #3670bc;
  --input-field-color: #e6e6e6;
}
body {
  background-color: ghostwhite;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
