.myleave-wrapper {
  overflow-x: hidden;
}
.myleave-wrapper .myleave-col h4 {
  font-weight: 500; 
  letter-spacing: 1px;
  margin-bottom: 10vh;
}
.myleave-wrapper .myleave-details p:nth-child(1) {
  color: var(--theme-orange-color);
  font-weight: 500;
  letter-spacing: 1px;
}
.myleave-wrapper .myleave-details p:nth-child(2) {
  margin-top: -3vh;
}